/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    color: #FFFFFF;
    background-color: #121212;
    text-align: center;

    --header-height: 40px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

/* Working on nav styling */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    transition-duration: 0.2s;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
}

/* Main Page */

.main-nav {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    min-height: var(--header-height);
    max-height: var(--header-height);
}

.main-header {
    padding-bottom: 0;
}

.main-title {
    text-align: center;
    margin: 0;
    font-size: 3em;
    padding: 1% 0 0.5%;
    font-weight: normal;
    background-color: transparent;
}

.main-image {
    max-width: 100%;
    height: auto;
    padding-top: 5%;
}

.main-buttons {
    background-color: rgba(255, 255, 255, 8%);
    border: none;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.main-buttons:hover {
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 14%);
    color: aquamarine;
}

.index-p {
    padding-top: 0.3%;
    padding-bottom: 1%;
}

/* Tiki page settings */

.tiki-image {
    width: 450px;
    margin: auto;
}

/* Global features */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    width: 960px;
    margin: auto;
    padding: 2px;
}

a:hover {
    transition-duration: 0.1s;
    color: aquamarine;
}

.body-content {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}